$orange: #EC6726
$comforta: Comfortaa-R
$green-o: #768d38
*
  box-sizing: border-box
figure
  margin: auto
img
  max-width: 100%
.page-overview
  .wrapper
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
  header
    width: 100%
    height: auto
    padding: 5px
    box-shadow: rgba(0,0,0,.3) 1px 3px 5px
    margin-bottom: 20px
    background: rgba(255,255,255,.7)
    -webkit-backdrop-filter: blur(10px)
    z-index: 9
    h2
      color: #000
      font-weight: bold
      font-family: 'Comfortaa-R', helvetica, sans-serif
      margin: 0
      span
        color: $orange
  article.container
    box-shadow: rgba(0,0,0,.3) 1px 3px 5px
    padding: 5px
    background: rgba(255,255,255,.7)
    -webkit-backdrop-filter: blur(10px)
    .first
      width: 100%
      padding: 0 180px
      z-index: 10
      figure
        position: relative
        img
          width: auto
          height: auto
          min-width: 100%
    .row
      margin-bottom: 20px
      figure
        position: relative
        img
          width: auto
          height: auto
          min-width: 100%
          display: block
        figcaption
          width: 100%
          padding: 5px
          text-align: center
          font-weight: bold
          font-size: 1.1em
        a
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
@media (max-width: 775px)
  .page-overview
    article.container
      padding: 30px !important
      .first
        padding: 15px!important
        figure
          width: 100% !important
          position: relative !important
          top: 0 !important
          left: 0 !important
          transform: translate(0) !important
          padding: 20px !important
