//output:index.php
doctype html
html(lang='es', ng-app)
    head
        title Bravhac Corporativo
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(name='description', content='description')
        meta(name='keywords', content='keywords')
        meta(name='author', content='author')
        meta(name="robots", content="index, follow")
        //- ----- link website ----- //
        link(rel='icon' href='img/favicon.png' type='image/x-icon')
        //- ----- CSS Files ----- //
        link(rel='stylesheet', href='Skeleton/css/normalize.css')
        link(rel='stylesheet', href='Skeleton/css/skeleton.css')
        link(rel='stylesheet', href='css/master.min.css')
    body.page-overview
      .wrapp#particles-js
        .center
          #up
            img(src='http://orangepuebla.com/test/img/logo_b.png')
          #down
            .row
              img.columns.four(src='img/byc.jpg')
              img.columns.four(src='img/recurso 1.png')
              img.columns.four(src='img/ogo.png')
    script(type='text/javascript', src='node_modules/jquery/dist/jquery.js', attr)
    script(type='text/javascript', src='node_modules/angular/angular.js' async='async')
    script(type='text/javascript', src='node_modules/particles.js/particles.js')
    script(type='text/javascript', src='app.js')
