//output:index.php
doctype html
html(lang='es', ng-app)
    head
        title Bravhac Corporativo
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(name='description', content='description')
        meta(name='keywords', content='keywords')
        meta(name='author', content='author')
        meta(name="robots", content="index, follow")
        //meta(http-equiv='refresh' content='15;  url="http://orangepuebla.com"')
        //- ----- link website ----- //
        link(rel='icon' href='img/favicon.png' type='image/x-icon')
        //- ----- CSS Files ----- //
        link(rel='stylesheet', href='skeleton/css/normalize.css')
        link(rel='stylesheet', href='skeleton/css/skeleton.css')
        link(rel='stylesheet', href='css/master.min.css')
        script(type='text/javascript', src='node_modules/jquery/dist/jquery.js')
        script(type='text/javascript', src='node_modules/angular/angular.js' async='async')
    body.page-overview
      .wrapper#particles-js
      header
        h2 Corporativo <span>Bravhac</span>
      article.container
        .first.row
          figure.columns.six
            img(src='img/bh.svg', title="bravhac logo", alt="bravhac_logo", attr)
          figure.columns.six.op
            img(src='img/op.png', title="orange puebla logo", alt="op_logo", attr)
        .row
          figure.columns.four
            img(src='img/cas.png', title="", alt="la_casona_de_joaquin")
            figcaption La Casona de joaquín
          figure.columns.four
            img(src='img/byc.png', title="", alt="byc")
            figcaption B&C
          figure.columns.four
            img(src='img/ogo.png', title="", alt="ogo_services")
            figcaption Ogo Services
            a(href='http://ogoser.com', title="ogo services", attr)
    script(type='text/javascript', src='node_modules/particles.js/particles.js')
    script(type='text/javascript', src='app.js')
